* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}


header {
    background-color: #06D6A0;
    padding: 0 20px;
    overflow: hidden;
    height: 60px;
    text-align: center;
}

.container {
  max-width: 55%;
  margin: 0 auto;
}

.logo {
    color: white;
    font-size: 1.1em;
    line-height: 60px;
    /* padding: 20px; */
    float: left;
    margin: 0;
    padding-top: 2px;
}

.navbar {
    float: right;
    margin: 0;
    padding: 0;
}

ul {
list-style-type: none;

}
li.nav-item {
    display: inline-block;
    line-height: 60px;
    padding: 0 5px;
}

.nav-item a {
    font-size: 1.2em;
}

img {
    max-width: 100%;
}

.hero-image {
    float: left;
    width: 60%;
}


.hero-content {
    width: 40%;
    float: right;
}

.hero {
    background: #26547c;
    color: white;
    overflow: hidden;
    text-align: center;
}

.hero-image img {
     /*width:30%;*/
     /*height: auto;*/
}

.hero-content h2 {
    font-size: 2.4em;
}

.call-to-action {
    background: gold;
    padding: 30px 20px;
}

.products {
  padding: 30px 20px;
}
